.footer {
    background-color: aquamarine;
    color: #666666;
    padding: 50px 30px;
  }
  
  .footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .footer__link {
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
  }
  
  .footer__link:hover {
    color: #000000;
  }
  
  .footer__social {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .footer__social-link {
    color: #666666;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer__social-link:hover {
    color: #000000;
  }
  
  .footer__info {
    text-align: center;
  }
  
  .footer__info p {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .back-to-top-btn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .back-to-top-btn.show {
    opacity: 1;
  }
  